{% extends 'base.html' %}

{% block title %}
    | Contact Us
 {% endblock title %}

{% block body %}
<div class="container px-0 py-2">
  <h1 style="text-align:center">Contact Us</h1>
  <p style="text-align:center">Please file the detail below and send your queries.</p>

<form method="POST" action="/contactus">
  {% csrf_token %}
  <div class="form-group">
      <label for="name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="name" , name="name", placeholder="Enter your name">
  </div>
  <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input type="text" class="form-control" id="email" , name="email", placeholder="Enter your email address">
  </div>
  <div class="form-group">
      <label for="desc" class="form-label">Reason to contact us</label>
      <textarea class="form-control" id="desc", name="desc", rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>
{% endblock body %}