{% extends 'base.html' %}

{% block title %}
    | Home
{% endblock title %}

{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static\images\1.jpg" class="d-block w-100" alt="Photo by Lukas from Pexels" style="height: 600px">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="font-size:500%;">Para Software Live</h1>
            </div>
        </div>
    </div>
</div>

{% endblock body %}